body {
  background: #E6F8E8;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  font-size: 16px;
  line-height: 1.5em;}
main{
  background: white;/*背景色*/
  border-radius: 10px;/*角の丸み*/
  margin: 10px;}
footer{
  clear:both;
  text-align:center;
  font-size:0.85em;
  background-color: #4ec4d3;
  color: #fff;}
.header {
  width: 100%;
  margin: 0 auto;}
/* TEXT */
a {
  font-size: 0.85em;
  text-decoration: none;}
p {
  padding: 0.5em 1em;
  line-height: 34px;
  letter-spacing: 2px;}
h1 {
  font-size: 50px;
  padding-bottom: 1px;
  color: #2196F3;
  position: relative;
  margin: 25px;
  letter-spacing: 2px;}
h2 {
  padding: 0.5em 1em;
  margin: 10px;
  border-left: 3px solid #4ec4d3;/*左線*/
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 2px;
  } 
h3 {
  font-size: 20px;
  padding: 0.5em 1em;
  margin: 20px;
  border-left: 2px solid #4ec4d3;/*左線*/
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 1px;} 
.links {
  font-size: 18px;
  color: #474747;
  padding: 0.5em 1em;
  border-radius: 5px;/*角の丸み*/
  line-height: 34px;
  letter-spacing: 2px;
  border: solid 2px #4ec4d3;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;}
.links:hover {
  background-color:#4ec4d3;
  color: #fff}
