body {background-color: #F9F9F9;
  font-family: "Helvetica Neue",
   Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  margin-top: 30px;}
h1 {text-align: center;
  margin: 0px;}
ul {padding-left: 0px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto}
li {list-style: none;
  text-align: center;
  border-radius: 50px;
  background: #F9F9F9;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 10px 10px #aeaeae,
              -10px -10px 10px #ffffff;}
li:hover {box-shadow: inset 10px 10px 10px #c7c7c7,
            inset -10px -10px 10px #ffffff;}
a {color: #000;
  text-decoration: none;}
